# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
venv/
env/

# Dataset
data/raw/
data/processed/

# Trained model weights
models/*.pth
models/*.pt
models/*.onnx

# Streamlit secrets
.streamlit/secrets.toml

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
